body {
  min-height: 100vh;
  background: linear-gradient(to top,  #b6fbff, #83a4d4);
  background-attachment: fixed;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-bottom: 10 vh;

}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}